<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>The Chiv Cook Book</title>
    <link href="../styles/pages/styles.css" rel="stylesheet"       type="text/css"/>
    <link href="../styles/pages/meals.css" rel="stylesheet"       type="text/css"/>
  </head>
  <body>
    <!-- Site navigation menu -->
    <nav class="navigation">
        <ul>
         <li>
             <a href="../html/index.html">Home</a>
        </li>
         <li class="submenu">
             <a href="#" class="dropbtn"> Recipe Types</a>
           <div class="dropdown-content">
             <a href="../html/a&s.html"><span>&raquo;</span>                Appertizers & Snacks</a>
             <a href="../html/breakfast.html"><span>&raquo;                  </span> Breakfast & Brunch</a>
             <a href="../html/dessert.html"><span>&raquo;                  </span> Desserts</a>
             <a href="../html/dinner.html"><span>&raquo;</span>              Dinner</a>
             <a href="../html/drinks.html"><span>&raquo;</span>              Drinks</a>
            </div>
          <li>
             <a href="../html/aboutus.html">About Us</a>
          </li>
          <li>
             <a href="../html/login.html">Login</a>
          </li>
         </ul>
    </nav>
    
  <!-- Main content -->
    <main>
      <h1>Our Favorite Recipes</h1>
      <div class = "meal-container">
  <div class="image-container">
    <img src='../img/A&S/chicken.jpg' class="image" />
  </div>
  <div class="text">
    <h1>Sweet Chilli Chicken Slider</h1>
    <p>Ingredients<br>
for 12 servings<br><br>

CHICKEN<br>
6 boneless, skinless chicken thighs, cut in half<br>
1 cup flour<br>
3 eggs, whisked<br>
2 ½ cups panko bread crumbs<br>
vegetable oil, for frying<br>
      <a href="#"> Preperation </a>

</p>
  </div>
</div>
<div class = "meal-container">
  <div class="image-container">
    <img src='../img/A&S/french-fries.jpg' class="image" />
  </div>
  <div class="text">
    <h1>French Fries</h1>
    <p>Ingredients<br>
for 2 servings<br><br>

2 russet potatoes<br>
3 tablespoons canola oil<br>
½ tablespoon salt<br>
½ tablespoon pepper<br>
½ tablespoon paprika<br>
½ tablespoon cumin<br>
½ tablespoon garlic powder<br>
      <a href="#"> Preperation </a>
</p>
  </div>
</div>
  
    </main>
</body>
</html>