<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>About Us</title>
  <link href="../styles/pages/styles.css" rel="stylesheet">
</head>
<body>    
  <!-- Site navigation menu -->
  <nav class="navigation">
      <ul>
       <li>
           <a href="../html/index.html">Home</a>
      </li>
       <li class="submenu">
           <a href="#" class="dropbtn"> Recipe Types</a>
         <div class="dropdown-content">
           <a href="../html/a&s.html"><span>&raquo;</span>                Appertizers & Snacks</a>
           <a href="../html/breakfast.html"><span>&raquo;                  </span> Breakfast & Brunch</a>
           <a href="../html/dessert.html"><span>&raquo;                    </span> Desserts</a>
           <a href="../html/dinner.html"><span>&raquo;</span>              Dinner</a>
           <a href="../html/drinks.html"><span>&raquo;</span>              Drinks</a>
          </div>
        <li>
           <a href="../html/aboutus.html">About us</a>
        </li>
        <li>
           <a href="../html/login.html">Login</a>
        </li>
       </ul>
  </nav>
  <h1>Welcome to the Chiv cookbook!</h1>
  <p>The Chiv cookbook is a great resource to use when you want to look up quick and easy recipes for appetizers and snacks, breakfast and brunch, desserts, dinner, and drinks.
    The reason why we named the cookbook as such is because it includes both of our names.
    We are two students in the Web Design field and have been working on this
    project since September.
    A few features that you will find here are the recipe types which have pictures and have a
    bit of information about the recipe. There is a login button that allows you to log in
    if you would like.</p>
  <h2>We hope you enjoy scrolling through the website and learning different recipes!</h2>
</body>
</html>
