<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>The Chiv Cook Book</title>
    <link href="../styles/pages/styles.css" rel="stylesheet"       type="text/css"/>
    <link href="../styles/pages/meals.css" rel="stylesheet"       type="text/css"/>
  </head>
  <body>
    <!-- Site navigation menu -->
    <nav class="navigation">
        <ul>
         <li>
             <a href="../html/index.html">Home</a>
        </li>
         <li class="submenu">
             <a href="#" class="dropbtn"> Recipe Types</a>
           <div class="dropdown-content">
             <a href="../html/a&s.html"><span>&raquo;</span>                Appertizers & Snacks</a>
             <a href="../html/breakfast.html"><span>&raquo;                  </span> Breakfast & Brunch</a>
             <a href="../html/dessert.html"><span>&raquo;                  </span> Desserts</a>
             <a href="../html/dinner.html"><span>&raquo;</span>              Dinner</a>
             <a href="../html/drinks.html"><span>&raquo;</span>              Drinks</a>
            </div>
          <li>
             <a href="../html/aboutus.html">About Us</a>
          </li>
          <li>
             <a href="../html/login.html">Login</a>
          </li>
         </ul>
    </nav>
    
  <!-- Main content -->
    <main>
      <h1>Our Favorite Recipes</h1>
      <div class = "meal-container">
  <div class="image-container">
    <img src='../img/Breakfast/pancakes.jpg' class="image" />
  </div>
  <div class="text">
    <h1>Pancakes</h1>
    <p>Ingredients<br>
for 4 servings<br><br>
⅔ cup greek yogurt<br>
½ cup oats<br>
1 egg<br>
1 tablespoon vanilla extract<br>
1 teaspoon baking powder<br>
½ teaspoon cinnamon<br>
½ cup fresh blueberry<br>
      <a href="#"> Preperation </a>

</p>
  </div>
</div>
<div class = "meal-container">
  <div class="image-container">
    <img src='../img/Breakfast/Eggs_Benedict_with_Bacon.jpg' class="image" />
  </div>
  <div class="text">
    <h1>Eggs Benedict</h1>
    <p>Ingredients<br>
for 2 servings<br><br>
FLORENTINE BENEDICT<br>
1 white toast<br>
1 tablespoon butter<br>
2 eggs<br>
1 tablespoon olive oil<br>
2 pieces canadian bacon<br>
      <a href="#"> Preperation </a>
</p>
  </div>
</div>
  
    </main>
</body>
</html>