<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>The Chiv Cook Book</title>
    <link href="../styles/pages/styles.css" rel="stylesheet"       type="text/css"/>
    <link href="../styles/pages/meals.css" rel="stylesheet"       type="text/css"/>
  </head>
  <body>
    <!-- Site navigation menu -->
    <nav class="navigation">
        <ul>
         <li>
             <a href="../html/index.html">Home</a>
        </li>
         <li class="submenu">
             <a href="#" class="dropbtn"> Recipe Types</a>
           <div class="dropdown-content">
             <a href="../html/a&s.html"><span>&raquo;</span>                Appertizers & Snacks</a>
             <a href="../html/breakfast.html"><span>&raquo;                  </span> Breakfast & Brunch</a>
             <a href="../html/dessert.html"><span>&raquo;                  </span> Desserts</a>
             <a href="../html/dinner.html"><span>&raquo;</span>              Dinner</a>
             <a href="../html/drinks.html"><span>&raquo;</span>              Drinks</a>
            </div>
          <li>
             <a href="../html/aboutus.html">About Us</a>
          </li>
          <li>
             <a href="../html/login.html">Login</a>
          </li>
         </ul>
    </nav>
    
  <!-- Main content -->
    <main>
      <h1>Our Favorite Recipes</h1>
      <div class = "meal-container">
  <div class="image-container">
    <img src='../img/Dinner/salmon.jpg' class="image" />
  </div>
  <div class="text">
    <h1>Salmon</h1>
    <p>Ingredients<br>
for 1 serving<br><br>
6 oz skinless salmon fillet<br>
salt, to taste<br>
pepper, to taste<br>
olive oil, for cooking<br>
1 lemon, sliced<br><br>
fresh thyme, as needed<br>
      <a href="#"> Preperation </a>

</p>
  </div>
</div>
<div class = "meal-container">
  <div class="image-container">
    <img src='../img/Dinner/lasagna.jpg' class="image" />
  </div>
  <div class="text">
    <h1>Lasgna</h1>
    <p>Ingredients<br>
for 12 servings<br><br>
3 cups whole milk ricotta cheese<br>
3 ½ cups shredded low-moisture mozzarella, divided<br>
2 large eggs<br>
2 ½ teaspoons kosher salt, divided<br>
2 tablespoons olive oil<br>
1 lb ground beef<br>
4 cloves garlic, minced<br>

      <a href="#"> Preperation </a>
</p>
  </div>
</div>
 <div class = "meal-container">
  <div class="image-container">
    <img src='../img/Dinner/ribs.jpg' class="image" />
  </div>
  <div class="text">
    <h1>Cajun BBQ Ribs</h1>
    <p>Ingredients<br>
for 2 servings<br><br>

½ rack baby back ribs<br>
3 tablespoons cajun seasoning<br>
1 cup BBQ sauce<br>

      <a href="#"> Preperation </a>

</p>
  </div>
</div>
  <div class = "meal-container">
  <div class="image-container">
    <img src='../img/Dinner/pastachicken.jpg' class="image" />
  </div>
  <div class="text">
    <h1>Chicken Pasta</h1>
    <p>Ingredients<br>
for 8 servings<br><br>
2 tablespoons unsalted butter<br>
1 lb spicy italian sausage, cut into rounds<br>
1 jalapeño, seeded and minced<br>
2 tablespoons McCormick® Jazzy Spice Blend<br>
14 ½ oz fire-roasted tomato, 1 can<br>
4 cups chicken stock<br>
5 oz cream cheese, cubed<br>
      <a href="#"> Preperation </a>

</p>
  </div>
</div>
  
    </main>
</body>
</html>