<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>The Chiv Cook Book</title>
    <link href="../styles/pages/styles.css" rel="stylesheet"       type="text/css"/>
    <link href="../styles/pages/meals.css" rel="stylesheet"       type="text/css"/>
  </head>
  <body>
    <!-- Site navigation menu -->
    <nav class="navigation">
        <ul>
         <li>
             <a href="../html/index.html">Home</a>
        </li>
         <li class="submenu">
             <a href="#" class="dropbtn"> Recipe Types</a>
           <div class="dropdown-content">
             <a href="../html/a&s.html"><span>&raquo;</span>                Appertizers & Snacks</a>
             <a href="../html/breakfast.html"><span>&raquo;                  </span> Breakfast & Brunch</a>
             <a href="../html/dessert.html"><span>&raquo;                  </span> Desserts</a>
             <a href="../html/dinner.html"><span>&raquo;</span>              Dinner</a>
             <a href="../html/drinks.html"><span>&raquo;</span>              Drinks</a>
            </div>
          <li>
             <a href="../html/aboutus.html">About Us</a>
          </li>
          <li>
             <a href="../html/login.html">Login</a>
          </li>
         </ul>
    </nav>
    
  <!-- Main content -->
    <main>
      <h1>Our Favorite Recipes</h1>
      <div class = "meal-container">
  <div class="image-container">
    <img src='../img/Drinks/strawpom.jpg' class="image" />
  </div>
  <div class="text">
    <h1>Strawberry Pomegrante Smoothie</h1>
    <p>INGREDIENTS<br>
      for 2 Servings<br><br>
1 banana<br>
1/2 cup strawberries<br>
1/2 cup pomegranate juice<br>
1/2 cup Greek yogurt plain, vanilla, or strawberry <br>
2 Tbsp honey<br>
      <a href="#"> Preperation </a>

</p>
  </div>
</div>
<div class = "meal-container">
  <div class="image-container">
    <img src='../img/Drinks/mangopeach.jpg' class="image" />
  </div>
  <div class="text">
    <h1>Mango Peach Smoothie</h1>
    <p>Ingredients<br>
for 2 servings<br><br>
1 lb silken tofu<br>
¼ cup maple syrup<br>
1 orange, peeled and sliced<br>
½ mango, peeled and diced<br>
1 peach, peeled and de-stoned<br>
½ cup soy milk, or other milk substitute<br>
      <a href="#"> Preperation </a>

</p>
  </div>
</div>
  
    </main>
</body>
</html>