
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>The Chiv Cook Book</title>
    <link href="../styles/pages/styles.css" rel="stylesheet"       type="text/css"/>
    <link href="../styles/pages/recipe.css" rel="stylesheet"       type="text/css"/>
  </head>
  <body>
    <!-- Site navigation menu -->
    <nav class="navigation">
        <ul>
         <li>
             <a href="../html/index.html">Home</a>
        </li>
         <li class="submenu">
             <a href="#" class="dropbtn"> Recipe Types</a>
           <div class="dropdown-content">
             <a href="../html/a&s.html"><span>&raquo;</span>                Appertizers & Snacks</a>
             <a href="../html/breakfast.html"><span>&raquo;                  </span> Breakfast & Brunch</a>
             <a href="../html/dessert.html"><span>&raquo;                  </span> Desserts</a>
             <a href="../html/dinner.html"><span>&raquo;</span>              Dinner</a>
             <a href="../html/drinks.html"><span>&raquo;</span>              Drinks</a>
            </div>
          <li>
             <a href="../html/aboutus.html">About us</a>
          </li>
          <li>
             <a href="../html/login.html">Login</a>
          </li>
         </ul>
    </nav>
      <div class="slider">
        <img class='photo'          src='../img/Breakfast/Eggs_Benedict_with_Bacon.jpg'
        alt="" />
        <img class='photo'  src='../img/Dinner/lasagna.jpg'             alt="" />
        <img class='photo'  src='../img/Dinner/salmon.jpg'             alt="" />
        <img class='photo'  src='../img/A&S/chicken.jpg'
        alt="" />
      </div><br>
  <!-- Main content -->
    <h1 class="page-title">Recent Recipes</h1>
      <div class="image-wrapper">
        <div class="recipe-wrapper">

    <img src='../img/Drinks/strawpom.jpg' class="image--cover">
    
    <img src='../img/Drinks/mangopeach.jpg' alt="" class="image--cover" />

   <img src='../img/Dessert/donut.jpg' class="image--cover">

    <img src='../img/Dessert/chocolate.jpg' alt="" class="image--cover" />
    <img src='../img/Breakfast/pancakes.jpg' class="image--cover">

    <img src='../img/Breakfast/Eggs_Benedict_with_Bacon.jpg' alt="" class="image--cover" />

   <img src='../img/Dinner/ribs.jpg' class="image--cover">

    <img src='../img/Dinner/pastachicken.jpg' alt="" class="image--cover" />
  </div>
    </div>   
  <br/>
<div align="center" class="socialbtns">
<ul>
<li><a href="#" class="fa fa-lg fa-facebook"></a></li>
<li><a href="#" class="fa fa-lg fa-twitter"></a></li>
<li><a href="#" class="fa fa-lg fa-google-plus"></a></li>
<li><a href="#" class="fa fa-lg fa-github"></a></li>
<li><a href="#" class="fa fa-lg fa-pinterest"></a></li>
<li><a href="#" class="fa fa-lg fa-linkedin"></a></li>
<li><a href="#" class="fa fa-lg fa-instagram"></a></li>
<li><a href="#" class="fa fa-lg fa-youtube"></a></li>
</ul>
</div>
 </body>
</html>
